**__pycache__/
**slurm_outputs/
**OLD_slurm_outputs/
**archive/
CopperMT/CopperMT/
NMT/flores_token.txt
NMT/OLD_sbatch/
NMT/lightning_logs/
Pipeline/sbatch/hyper_param_search/
Pipeline/sbatch/hyper_param_search_NG-False/
Pipeline/rnn_hyperparams/
Pipeline/parameters/
Pipeline/parameters_NG-False/
Pipeline/hyperparam_search_results/
Pipeline/hyperparam_search_results_NG-False/
Pipeline/cfg/SC-HYPERPARAM_SEARCH_NG-False/
Pipeline/cfg/SC-HYPERPARAM_SEARCH/
Pipeline/slurm_outputs/
Pipeline/sh_outputs/
NMT/slurm_outputs/
NMT/OLD_slurm_outputs/
*.out
NMT/align_tokens.NWS.all.out
NMT/align_tokens.all.out
**lightning_logs/
.claude/
.env
.CLAUDE.md
.CLEANUP_PLAN.md
data/data-cleaning-pipeline/
data/confirm_data_is_same*
data/get_diff*
data/fix_cleaning_pipeline_diagnosis.md
NMT/sbatch/
CLAUDE.md
CLEANUP_PLAN.md
EXPAND_DATA_HOME_PLAN.md
**hyperparam_search/
fast_align/
Ngram_Correspondences/*/
Ngram_Correspondences/apply_rules.py
Ngram_Correspondences/es-an-groupings.txt
Ngram_Correspondences/ngram_correspondences_*
Ngram_Correspondences/*.txt
Ngram_Correspondences/*.xlsx
Ngram_Correspondences/*.sh
Ngram_Correspondences/transform*
CogNet-v2.0.*
NMT_results*
__MACOSX/
bleurt/
true_cognate*
slurm_outputs/
Pipeline/cfg/tok/*cognate*
NMT/configs/CONFIGS/*/*cognate*
*dedupe*
uz_kaa_commands.sh
*dataset_log*
Pipeline/cfg/SC/fr-mfe_capped_val.cfg
Pipeline/cfg/SC/fr-mfe_gt_val.cfg
Pipeline/sh/fr_oc_reruns.sh
NMT/vocab_overlap/results/