MODULE_HOME_DIR=${CHARLOTTE_HOME}

# SC/Cognate
# For translating kaa -> en
NMT_SRC=kaa
NMT_TGT=en
AUG_SRC=uz
AUG_TGT=en
SRC=uz
TGT=kaa
SEED=0
PARALLEL_TRAIN=${CHARLOTTE_HOME}/NMT/data/CharLOTTE/PLAIN/uz-kaa/train.csv
PARALLEL_VAL=${CHARLOTTE_HOME}/NMT/data/CharLOTTE/PLAIN/uz-kaa/val.csv
PARALLEL_TEST=${CHARLOTTE_HOME}/NMT/data/CharLOTTE/PLAIN/uz-kaa/test.csv
APPLY_TO=${CHARLOTTE_HOME}/NMT/data/CharLOTTE/PLAIN/uz-en/train.csv,${CHARLOTTE_HOME}/NMT/data/CharLOTTE/PLAIN/uz-en/val.csv,${CHARLOTTE_HOME}/NMT/data/CharLOTTE/PLAIN/uz-en/test.csv
NO_GROUPING=true
SC_MODEL_TYPE=RNN
COGNATE_TRAIN=${DATA_HOME}/data/COGNATE_TRAIN/uz-kaa
COGNATE_THRESH=0.5
COPPERMT_DATA_DIR=${DATA_HOME}/CopperMT
COPPERMT_DIR=${CHARLOTTE_HOME}/CopperMT/CopperMT
PARAMETERS_DIR=${CHARLOTTE_HOME}/Pipeline/parameters
RNN_HYPERPARAMS=${CHARLOTTE_HOME}/Pipeline/rnn_hyperparams
RNN_HYPERPARAMS_ID=0
BEAM=10
NBEST=1
REVERSE_SRC_TGT_COGNATES=false
LOG_P_THRESH=null
EDIT_DIST_TYPE=NLED

SC_MODEL_ID=UZ-KAA-RNN-0

COGNATE_TRAIN_RATIO=0.90
VAL_COGNATES_SRC=null
VAL_COGNATES_TGT=null
COGNATE_VAL_RATIO=0.10
TEST_COGNATES_SRC=null
TEST_COGNATES_TGT=null
COGNATE_TEST_RATIO=0.00

ADDITIONAL_TRAIN_COGNATES_SRC=null
ADDITIONAL_TRAIN_COGNATES_TGT=null

# COGNATE_TRAIN_RATIO=null
# VAL_COGNATES_SRC=${DATA_HOME}/data/EtymDB/uz_kaa/train/orig.uz_kaa.val-s=1420.uz
# VAL_COGNATES_TGT=${DATA_HOME}/data/EtymDB/uz_kaa/train/orig.uz_kaa.val-s=1420.kaa
# COGNATE_VAL_RATIO=null
# TEST_COGNATES_SRC=${DATA_HOME}/data/EtymDB/uz_kaa/train/orig.uz_kaa.test-s=1420.uz
# TEST_COGNATES_TGT=${DATA_HOME}/data/EtymDB/uz_kaa/train/orig.uz_kaa.test-s=1420.kaa
# COGNATE_TEST_RATIO=null
