# SPM MODELS:
SPM_TRAIN_SIZE=500000

SRC_LANGS=fr,mfe
SRC_TOK_NAME=fr-mfe

TGT_LANGS=en
TGT_TOK_NAME=en

DIST=fr:25,mfe:25,en:50

TRAIN_PARALLEL=${CHARLOTTE_HOME}/NMT/data/CharLOTTE/PLAIN/fr-en/train.csv,${CHARLOTTE_HOME}/NMT/data/CharLOTTE/PLAIN/mfe-en/train.csv,${CHARLOTTE_HOME}/NMT/data/CharLOTTE/PLAIN/fr-mfe/train.csv
TOK_TRAIN_DATA_DIR=${DATA_HOME}/CognateMT/spm_models/fr-mfe_en
SC_MODEL_ID=null
VOCAB_SIZE=32000

SPLIT_ON_WS=false
INCLUDE_LANG_TOKS=false
INCLUDE_PAD_TOK=true
SPECIAL_TOKS=null

IS_ATT=false