# SPM MODELS:
SPM_TRAIN_SIZE=500000

SRC_LANGS=uz,kaa
SRC_TOK_NAME=SC_uz2kaa-kaa

TGT_LANGS=en
TGT_TOK_NAME=en

DIST=uz:25,kaa:25,en:50

TRAIN_PARALLEL=${CHARLOTTE_HOME}/NMT/data/CharLOTTE/SC/SC_uz2kaa-en/train.csv,${CHARLOTTE_HOME}/NMT/data/CharLOTTE/PLAIN/kaa-en/train.csv,${CHARLOTTE_HOME}/NMT/data/CharLOTTE/SC/SC_uz2kaa-kaa/train.csv
TOK_TRAIN_DATA_DIR=${DATA_HOME}/CognateMT/spm_models/SC_uz2kaa-kaa_en
SC_MODEL_ID=UZ-KAA-RNN-0-RNN-264
VOCAB_SIZE=32000

SPLIT_ON_WS=false
INCLUDE_LANG_TOKS=false
INCLUDE_PAD_TOK=true
SPECIAL_TOKS=null

IS_ATT=false